.wrapper {
  position: relative;
  margin-bottom: 30px;
}

.dropzone {
  padding-top: 20px;
  padding-bottom: 40px;
  color: var(--mantine-color-bright);
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease; /* 动画 */
}

.dropzone:hover {
  background-color: #f5f5f5; /* 鼠标移上去变灰 */
  cursor: pointer;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-white));
}

.control {
  position: absolute;
  width: 250px;
  left: calc(50% - 125px);
  bottom: -20px;
}

.description {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
  margin-top: var(--mantine-spacing-xs);
}