#root {
  max-width: initial!important;
    margin: 0!important;
    text-align: initial!important;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://ragflow-gateway.oss-cn-beijing.aliyuncs.com/login-bg.jpg');
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100vh;
  max-width: 450px;
  padding: 30px;
  padding-top: 80px;
  border-radius: 0;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  /*color: light-dark(var(--mantine-color-black), var(--mantine-color-white));*/
  font-family: Outfit, var(--mantine-font-family);
  /*font-weight: 500;*/
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 50px;
}