/*#root {*/
/*  max-width: 1800px;*/
/*  margin: 0 auto;*/
/*  !*text-align: center;*!*/
/*}*/
#root > .mainApp {
  max-width: 1800px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mantine-Table-td {
    text-align: left;
}

.mantine-Table-table th {
  text-align: left;
}

.mantine-Table-table {
  font-size: 13px; /* 默认是 14px */
}

.mantine-Table-table .mantine-Text-root {
  font-size: 13px;
}

.mantine-Breadcrumbs-root a {
  font-size: 15px;
}