.footer {
  border-top: 1px solid
    var(--mantine-color-gray-2);

  @media (prefers-color-scheme: dark) {
    border-top-color: var(--mantine-color-dark-5);
  }
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);

    @media (max-width: var(--mantine-breakpoint-xs)) {
        flex-direction: column;
    }
}

.links {
    @media (max-width: var(--mantine-breakpoint-xs)) {
        flex-direction: column;
    }
}